django==1.11.2
django-dbbackup
django-admin-sortable2
django-autoslug
subdomains
rules
django-admin-interface
django-allauth
django-html_sanitizer
django-dbbackup
dropbox
django-storages
django-cron
gunicorn
psycopg2
Pillow
pip-tools
django-extensions
Werkzeug

# For dataporten http queries and testing
requests
requests-cache
responses

# Use mypy for static type linting
mypy
mypy_extensions

# Ability to use @freeze_time in unittests
freezegun

# For pytest-django interoperability
pytest-django

# Object factories for testing
factory_boy

# For debugging in the web browser
django-debug-toolbar

# Analogous to defaultdict
defaultlist

# For sentry error logging SaaS
raven

# For autocompletion in django admin and forms
django-autocomplete-light

# For papertrail in model admin
django-reversion

# For exam resources crawling
BeautifulSoup4

# For OCR on downloaded PDFs
tesserocr

# For text extraction from PDFs with overlay text
pdftotext
