{% extends "base.html" %} {# TODO: Need to add link category and course static images based on model #}
{% load static %}
{% block content %}
<div class="wrap content">

{% for course in courses %}
<article>
<a class="kategori" href="{{ course.homepage }}">
  <img src="{% static "semesterpage/courses/" %}{{ course.display_name }}_logo.svg">

  <h2>{{ course.display_name }}</h2></a>
<ul>

{% for link in course.links.all %}
  <li class="{{ link.category }}" style="list-style-image: url('{% static "semesterpage/link_categories/" %}{{ link.category }}_link.svg');"><a href="{{ link.url }}">{{ link.title }}</a></li>
{% endfor %}

</ul>
</article>
{% endfor %}

</div>
{% endblock %}
