{% load static subdomainurls socialaccount %}
{% providers_media_js %}

<!-- Site navigation -->
<nav>
    <div class="wrap">
        <ul>
            <div id="left-nav-items">
              {% block nav-studyprograms %}
                  <li class="dropdown">
                      <a href="#" class="dropbtn">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;Bytt studie (<b>{{ semester.study_program.display_name | title }}</b>)&nbsp;&nbsp;
                      </a>
                      <div class="dropdown-content">
                          {% for study_program in study_programs %}
                              <a href="{{ study_program.get_absolute_url }}">{% if study_program == semester.study_program %}<b>{% endif %}{{ study_program.display_name | title }}{% if study_program == semester.study_program %}</b>{% endif %}</a>
                          {% endfor %}
                          <a href="{% if user.is_authenticated %}{{ user.options.get_absolute_url }}{% else %}{% provider_login_url "dataporten" %}{% endif %}">Annet...</a>
                      </div>
                  </li>
              {% endblock %}
              {% block nav-semesters %}
              <li class="dropdown">
                    <a href="#" class="dropbtn">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;&nbsp;Bytt semester (<b>{{ semester.number }}</b>)&nbsp;&nbsp;
                    </a>
                    <div class="dropdown-content semesters">
                  {% for simple_semester in semester.study_program.simple_semesters %}
                      <a href="{{ simple_semester.get_absolute_url }}">
                          {% if simple_semester.number == semester.number %}
                              <b>{{ simple_semester.number }}. semester</b>
                          {% else %}
                              {{ simple_semester.number }}. semester
                          {% endif %}
                      </a>
                  {% endfor %}

                  {% for number, split_semesters in semester.study_program.grouped_split_semesters %}
                  <div class="split-semester">
                          <a href="#" class="second-dropbtn">
                                  {{ number }}.&nbsp;&nbsp;semester&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-caret-right" aria-hidden="true"></i>
                          </a>
                          <div class="second-dropdown-content">
                              {% for split_semester in split_semesters %}
                                  <a href="{{ split_semester.get_absolute_url }}">{% if split_semester == semester %}<b>{% endif %}{{ split_semester.main_profile.display_name }}{% if split_semester == semester %}</b>{% endif %}</a>
                              {% endfor %}
                          </div>
                  </div>
                  {% endfor %}

                    </div>
              </li>
              {% endblock %}
              {% if semester.study_program.has_archive %}
                  <li>
                      <a href="{{ semester.get_archive_url }}">
                          <img src="{% static "semesterpage/img/arkiv_nav.svg" %}" alt="arkiv">  Arkiv
                      </a>
                  </li>
              {% endif %}
            </div>
            <div id="right-nav-items">
              {% if user.is_authenticated %}
                  {% block nav-userpage %}
                      <li class="arkiv">
                          <a href="{{ user.options.get_absolute_url }}">
                              <i class="fa fa-graduation-cap" aria-hidden="true"></i>  {{ user.username | title }}s fag
                          </a>
                      </li>
                  {% endblock %}
                  <li class="arkiv">
                      <a id="settings-link" class="link-icon-rotate" title="Instillinger" href="{{ user.options.get_admin_url }}">
                          <i class="fa fa-plus" aria-hidden="true"></i>  Velg fag
                      </a>
                  </li>
                  <li class="arkiv">
                      <a {% if calendar_name %}href="https://ntnu.1024.no/{{ calendar_name }}"{% else %}onclick="calendarRedirect()" href="#"{% endif %}>
                          <i class="fa fa-calendar" aria-hidden="true"></i>  Timeplan
                      </a>
                  </li>
                  <li class="arkiv">
                      <a href="/accounts/logout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>  Logg ut
                      </a>
                  </li>
              {% else %}
                  <li class="arkiv">
                      <a {% if calendar_name %}href="https://ntnu.1024.no/{{ calendar_name }}"{% else %}onclick="calendarRedirect()" href="#"{% endif %}>
                          <i class="fa fa-calendar" aria-hidden="true"></i>  Timeplan
                      </a>
                  </li>
                  <li class="arkiv">
                      <a href="{% provider_login_url "dataporten" %}" style="color: #CFFFB3;">
                          <i class="fa fa-sign-in" aria-hidden="true"></i> Dine fag
                      </a>
                  </li>
              {% endif %}
           </div>
        </ul>
    </div>
</nav>
