{% extends "base.html" %}
{% load static widget_tweaks %}
{% block extra_css %}
<!-- Submit button styling with PureCSS.io -->
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
{% endblock %}
{% block content %}

<div class="wrap content linkform">
<article>
  <img src="{% static "semesterpage/request/linkform_logo.svg" %}" alt="Lenke">
  <h2>Lenke</h2>

  {% if link_form.message.errors %}
    <ul>
      {% for error in link_form.message.errors %}
        <li><strong>{{ error }}</strong></li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" name="content-request" action="">
    <p>
      <label for='title'>Tittel<span style="color: grey; font-size: 80%;">*</span>: </label><br>
      {{ link_form.title|attr:'required:true' }}
    </p>

    <p>
      <label for='url'>URL<span style="color: grey; font-size: 80%;">*</span>: </label><br>
      {{ link_form.url|attr:'required:true' }}
    </p>

    <p>
      <label for='category'>Fag<span style="color: grey; font-size: 80%;">*</span>: </label><br>
      {{ link_form.course|attr:'required:true' }}
    </p>

    <p>
      <label for='description'>Beskrivelse: </label><br>
      {{ link_form.description }}
    </p>

    <p class="mandatory-notice" style="margin-top: -0.5em;">
      *Påkrevde feldt <br>
      &nbsp
    </p>

    <input class="pure-button" type="submit" value="Send inn lenkeforslag" name="submit">{% csrf_token %}
  </form>
</article>

<article>
  <img src="{% static "semesterpage/request/fileform_logo.svg" %}" alt="Lenke">
  <h2>Fil</h2>

  {% if link_form.message.errors %}
    <ul>
      {% for error in link_form.message.errors %}
        <li><strong>{{ error }}</strong></li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" name="file-request" action="">
    <p>
      <label for='title'>Tittel<span style="color: grey; font-size: 80%;">*</span>: </label><br>
      {{ file_form.title|attr:'required:true' }}
    </p>

    <!-- <br> -->
    <p>
      <label for='file'>Fil(er)<span style="color: grey; font-size: 80%;">*</span>:&nbsp&nbsp&nbsp</label><br>
      {{ file_form.user_files|attr:'required:true' }}
    </p>

    <p>
      <label for='category'>Fag<span style="color: grey; font-size: 80%;">*</span>: </label><br>
      {{ file_form.course|attr:'required:true' }}
    </p>

    <p>
      <label for='description'>Beskrivelse: </label><br>
      {{ file_form.description }}
    </p>

    <p class="mandatory-notice" style="margin-top: -0.5em;">
      *Påkrevde feldt <br><br>
    </p>

    <input class="pure-button" type="submit" value="Send inn filforslag" name="submit" id="submit">{% csrf_token %}
  </form>
</article>

</div>

{% endblock %}
