/* Resets & basic page setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Don't let too long links overflow the page */
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;

  /* Don't let too long links overflow the page */
  overflow-x: hidden;
}

/* Header (logo & site name) */
header {
  background: #333;
}

header a {
  color: white;
}

.wrap {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1em;
  padding-left: 9%;
}

header .wrap {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

header img {
  margin-left: -1em;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}

header h1 {
  font-family: "Times New Roman", serif;
  margin-bottom: -0.17em;
  padding-left: 0.23em;
}

header a:hover {
  color: silver;
}

.thin {
  font-weight: 300;
}

header p {
  font-weight: 300;
}

body header .wrap {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

header #header-text {
  color: #7a7a7a;
}

/* Navigation */
nav {
  background: #7a7a7a;
  color: white;
  font-weight: 300;

  /* Expand navbar when nav items wraps */
  /* overflow: overlay; */
  display: table;
  width: 100%;
}

nav .wrap {
  padding: 0.5em 0;
  padding-left: 7%;
  padding-right: 7%;
}

nav li {
  display: inline-block;
  padding-left: 1em;
  white-space: nowrap;
  position: relative;
  top: -0.1em;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

/* Spinning animation on hover for font-awesome icons */
.link-icon-rotate:hover .fa {
  -webkit-animation: fa-spin 5s infinite linear;
  -moz-animation: fa-spin 5s infinite linear;
  -o-animation: fa-spin 5s infinite linear;
  animation: fa-spin 5s infinite linear;
}

/* Dropdown list on split semesters in navbar */
.dropbtn:hover {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2; /* In order to be placed above the semesterpage content */
  left: 0.3em;
  padding-left: 0.7em;
  background-color: #7a7a7a;
  min-width: 10.5em;
  box-shadow: 0 8px 16px 0 rgba(122, 122, 122, 0.25);
}

.second-dropdown-content {
  display: none;
  position: absolute;
  z-index: 2; /* In order to be placed above the semesterpage content */
  left: 9.5em;
  margin-top: -2em;
  background-color: #7a7a7a;
  min-width: 6.5em;
  box-shadow: 0 8px 16px 0 rgba(122, 122, 122, 0.25);
}

.dropdown-content a {
  color: white;
  padding: 3px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.split-semester a {
  color: white;
  padding: 3px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.semesters {
  min-width: 9.5em;
  padding-left: 0.7em;
  padding-bottom: 0.6em;
}

.dropdown-content a:first-child {
  padding-top: 0.75em;
}

.dropdown-content a:last-child {
  padding-bottom: 0.6em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.split-semester {
  margin-top: -0.5em;
}

.split-semester:hover .second-dropdown-content {
  display: block;
}

/* Content */
.content {
  display: -webkit-flex;
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  zoom: 0.935; /* Scaling to fit page on MacBook Pro */
  -moz-transform: scale(0.935);
  -moz-transform-origin: 50% 50% 0;
}

.content article {
  /* text-align: center; */
  padding: 1em;
  width: 33.3333%;
  padding-top: 1%;
  white-space: nowrap; /* No line breaks in list items in a course element */
}

.content article ul {
  margin-top: 1em;
  font-size: 1.1em;
  line-height: 1.5;
  color: #666;
}

.content article ul li {
  font-size: 88%;
  margin: -0.18em 0 0 0;
  text-indent: -25px;
}

/* Extending the clickable link area towards the left in order to include
	 the bullet points */
.content article ul li a {
  display: block;
  padding-left: 25px;
}

.content article img {
  height: 80px;
  width: 80px;
  text-align: center;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
}

a {
  text-decoration: none;
  color: black;
}

.content a:visited {
  color: black;
}

/* The edit links are slightly grey in order to tell them apart from proper course links */
.edit-item {
  color: red;
}

.content .edit-link {
  text-decoration: none;
  color: #757575;
}

.content .edit-link:visited {
  color: #757575;
}

p.underkonstruksjon {
  padding-top: 2em;
  text-align: center;
}

/* Styling for semester choice page */
div.wrap.content.semester {
  padding-left: 14%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.content article .semester {
  padding-left: 1.5em;
}

h1.semester {
  text-align: center;
  padding-top: 1em;
  font-size: 175%;
}

p.semester {
  text-align: center;
}

/* On-hover effects for various elements */
nav a:hover {
  color: silver;
}

.content article .kategori:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  color: grey;
}

.content li a:hover {
  color: black;
  background: #eee;
}

.arkiv:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* Footer */

footer {
  color: grey;
  font-size: 75%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .navn {
  color: black;
}

/* Link request page */
article form p {
  padding-bottom: 0.6em;
}

.linkform article h2 {
  padding-bottom: 0.2em;
}

.mandatory-notice {
  color: grey;
  font-size: smaller;
}

/* Zoom to fit page on large resolutions */
@media (min-width: 1580px) {
  .wrap {
    zoom: 1.07;
  }
}

@media (min-width: 1900px) {
  .wrap {
    zoom: 1.15;
  }
}

/* Responsive design (break points) */
@media (max-width: 900px) {
  .content article {
    width: 50%;
  }

  footer {
    position: relative;
  }
}

@media (max-width: 500px) {
  /* Mobile mode */
  .wrap {
    padding-left: 0%; /* For correct center allignment on mobile screens */
  }

  div.wrap.content.semester {
    padding-left: 0%; /* For correct center allignment on mobile screens on the semester choice screen */
  }

  header img {
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 0.3em;
  }

  header h1 {
    /* Hide the username on mobile */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  /* Main profile list on split semesters shown when clicked in navbar on mobile */
  .dropdown-content {
    position: relative;
  }

  .dropdown-content a {
    text-align: center;
  }

  .dropdown:focus .dropdown-content {
    display: inline;
  }

  /* Do not expand split semesters to the right, but rather below */
  .second-dropdown-content {
    position: inherit;
    padding-top: 1.7em;
  }

  nav li {
    display: block;
    text-align: center;
    padding: 0.35em;
    position: relative;
    left: -4%;
    font-size: 140%;
    border-bottom: 0.1em solid grey;
  }

  nav li:last-child {
    border-bottom: none;
  }

  .content article {
    width: 100%;
    padding: 0.3em;
  }

  .content article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .content article h2 {
    text-align: center;
  }

  .content article ul a {
    display: inline-block;
    padding-right: 160%;
  }

  #site { overflow-x: hidden; }

  .content {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    font-size: 150%;
  }

  .content img {
    margin-top: 1.5em; /* A bit more spacing between the courses on mobile */
  }

  .content article ul {
    margin-top: 0.3em;
  }
}

@media (min-width: 500px) {
  /* On non-mobile screens, we split the navbar into two parts, left and right */
  #left-nav-items {
    display: inline;
  }

  #right-nav-items {
    display: inline;
    float: right;
    padding-bottom: 0.5em;
  }
}
