{% extends "base.html" %} {# TODO: Need to add link category and course static images based on model #}
{% load rules static %}

{% block navbar %}
{% include "semesterpage/navbar.html" %}
{% endblock %}

{% block content %}


<!-- For table styling -->
<link
  rel="stylesheet"
  href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
  integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
  crossorigin="anonymous">

<!-- Required for search functionality -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<!-- Required for tooltip on hover -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<script src="http://rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.1.0.min.js"></script>

{% for course_code, course_content in exam_courses.items %}
<div class="course">

<h1 class="course-header">
  {{ course_code }}
  {% if course_content.nick_name %}
  <br>
  {{ course_content.nick_name }}
  {% elif course_content.full_name %}
  <br>
  {{ course_content.full_name }}
  {% endif %}
</h1>

<input type="text" class="class-search" id="search-{{ course_code }}" placeholder="Filter"></input>

<table id="table-{{ course_code }}" class="pure-table">
  <tr>
    <th>År</th>
    <th>Semester</th>
    <th>Eksamen</th>
    <th>LF</th>
  </tr>

  {% for year, seasons in course_content.years.items %}
  {% for season, exam_set in seasons.items %}
  <tr>
    <td>{{ year|default:"Ukjent" }}</td>

    <td>
      {% if season == 'Høst' %}
      Høst
      {% elif season == 'Vår' %}
      Vår
      {% elif season == 'Kontinuasjonseksamen' %}
      Kont
      {% else %}
      Ukjent
      {% endif %}
    </td>

    <td>
      {% for language, urls in exam_set.exams.items %}
      <a href="{{ urls.0.url }}" target="_blank">
        {% if language == 'Engelsk' %}
        🇬🇧
        {% elif language == 'Nynorsk' %}
        🇳🇴
        {% elif language == 'Bokmål' %}
        🇳🇴
        {% else %}
        &nbsp;<i class="fa fa-question-circle" style="color:grey"></i>
        {% endif %}
        <i>{{ urls.0.filename }}</i>
        {% if language == 'Nynorsk' %}
        <div style="color: silver; display: inline-block;">(nynorsk)</div>
        {% endif %}
      </a>
      <div style="display:none;">{{ urls.0.file_backup.text }}</div>

      {% for alt_url in urls|slice:"1:" %}
      {% if forloop.first %}
      <br>
      <i class="fa fa-external-link"></i>
      {% endif %}

      <a href="{{ alt_url.url }}" title="{{ alt_url.filename }}" target="_blank">
          [{{ forloop.counter }}]
      </a>
      {% endfor %}

      <br>
      {% endfor %}
    </td>

    <td>
    {% for language, urls in exam_set.solutions.items %}
      <a href="{{ urls.0.url }}" target="_blank">
        {% if language == 'Engelsk' %}
        🇬🇧
        {% elif language == 'Nynorsk' %}
        🇳🇴
        {% elif language == 'Bokmål' %}
        🇳🇴
        {% else %}
        &nbsp;<i class="fa fa-question-circle" style="color:grey"></i>
        {% endif %}
        <i>{{ urls.0.filename }}</i>

        {% for alt_url in urls|slice:"1:" %}
        {% if forloop.first %}
        <br>
        <i class="fa fa-external-link"></i>
        {% endif %}

        <a href="{{ alt_url.url }}" title="{{ alt_url.filename }}" target="_blank">
            [{{ forloop.counter }}]
        </a>
        {% endfor %}

      </a>
      <br>
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endfor %}

</div>
{% endblock %}

{% block end %}
<script>
$(document).tooltip({
  show: {
    delay: 0,
    duration: 0,
  },
  hide: {
    delay: 0,
    duration: 0,
  },
})


$( 'table' ).each(function() {
  var currentTable = $(this);
  var currentTableID = currentTable.attr('id');
  var currentSearchInputID = currentTableID.replace('table', 'search');
  currentTable.searchable({
    searchField: '#' + currentSearchInputID,
    clearOnLoad: true,
    selector: 'tbody tr:nth-child(n+2)',
    striped: true,
    oddRow: {'background-color': '#efefef'},
    evenRow: {'background-color': 'white'}
  });
});
</script>

<style>
.course-header {
  text-align: center;
  font-size: 3em;
}
input{
  border: none;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  height: 2.5em;
  width: 40%;
  min-width: 25em;
  max-width: 90%;
  border:1px solid #eaeaea;
  outline:none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
input[type="text"] {
  font-size: 1em;
  padding: -1em;
}
input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus {
  border-color: #4d90fe;
}
table {
  min-width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
thead tr th:nth-child(-n + 2),
tbody tr td:nth-child(-n + 2) {
  width: 5em;
  max-width: 5em;
}
thead tr th:nth-child(n + 3),
tbody tr td:nth-child(n + 3) {
  padding-right: 5em;
}
tr {
  vertical-align: baseline;
}
th {
  text-align: left;
}
tr:nth-child(1) {
  background-color: #7a7a7a;
  color: white;
}
</style>
{% endblock %}
