{% extends "base.html" %} {# TODO: Need to add link category and course static images based on model #}
{% load rules static %}

{% block navbar %}
{% include "semesterpage/navbar.html" %}
{% endblock %}

{% block content %}


<!-- For table styling -->
<link
  rel="stylesheet"
  href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
  integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
  crossorigin="anonymous">

<!-- Required for search functionality -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<!-- Required for tooltip on hover -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<script src="{% static 'js/jquery.searchable-1.1.0.min.js' %}"></script>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">

{% for course_code, course_content in exam_courses.items %}
<div class="course container" style="overflow-x: scroll;">

<h1 class="mx-auto text-center mt-5" style="font-size: 3em;">
  {{ course_code }}
  {% if course_content.nick_name %}
  <br>
  {{ course_content.nick_name }}
  {% elif course_content.full_name %}
  <br>
  {{ course_content.full_name }}
  {% endif %}
</h1>

<div class="text-center mt-3">
  <a href="{% url "examiner:search" %}">
    <button
      type="button"
      class="mx-auto btn btn-outline-secondary btn-lg"
      style="width: 10em;">
      <i class="fa fa-search"></i>
      Nytt fagsøk
    </button>
  </a>
  <button
    type="button"
    class="mx-auto btn btn-outline-secondary btn-lg"
    data-toggle="collapse"
    data-target=".fix-button"
    style="width: 10em;">
    <i class="fa fa-pencil"></i>
    Fiks feil
  </button>
</div>

<div class="input-group input-group-lg my-3">
  <input type="text" class="form-control class-search mx-auto" id="search-{{ course_code }}" placeholder="Søk i eksamstekst"></input>
</div>

<table id="table-{{ course_code }}" class="pure-table mx-auto mb-5">
  <tr>
    <th>År</th>
    <th>Semester</th>
    <th>Eksamen</th>
    <th>LF</th>
  </tr>

  {% for year, seasons in course_content.years.items %}
  {% for season, exam_set in seasons.items %}
  <tr>
    <td>{{ year|default:"Ukjent" }}</td>

    <td>
      {% if season == 'Høst' %}
      Høst
      {% elif season == 'Vår' %}
      Vår
      {% elif season == 'Kont' %}
      Kont
      {% else %}
      Ukjent
      {% endif %}
    </td>

    <td>
      {% for language, urls in exam_set.exams.items %}
      <div class="my-1" style="display: inline-block;">
        <a
          type="button"
          class="btn btn-outline-success btn-sm mr-2 fix-button collapse multi-collapse"
          href="{{ urls.0.scraped_pdf.get_absolute_url }}">
            Fiks
        </a>
        <a href="{{ urls.0.url }}" target="_blank">
          {% if language == 'Engelsk' %}
          🇬🇧
          {% elif language == 'Nynorsk' %}
          🇳🇴
          {% elif language == 'Bokmål' %}
          🇳🇴
          {% else %}
          &nbsp;<i class="fa fa-question-circle" style="color:grey"></i>
          {% endif %}
          {{ urls.0.filename | truncatechars:25 }}
          {% if language == 'Nynorsk' %}
          <div style="color: silver; display: inline-block;">(nynorsk)</div>
          {% endif %}
        </a>
      </div>
      <div style="display:none;">{{ urls.0.scraped_pdf.text }}</div>

      {% for alt_url in urls|slice:"1:" %}
      {% if forloop.first %}
      <br>
      <i class="fa fa-external-link"></i>
      {% endif %}

      <a href="{{ alt_url.url }}" title="{{ alt_url.filename }}" target="_blank">
          [{{ forloop.counter }}]
      </a>
      {% endfor %}

      <br>
      {% endfor %}
    </td>

    <td>
    {% for language, urls in exam_set.solutions.items %}
      <div class="my-1" style="display: inline-block;">
        <a
          type="button"
          class="btn btn-outline-success btn-sm mr-2 fix-button collapse multi-collapse"
          href="{{ urls.0.scraped_pdf.get_absolute_url }}">
            Fiks
        </a>
        <a href="{{ urls.0.url }}" target="_blank">
          {% if language == 'Engelsk' %}
          🇬🇧
          {% elif language == 'Nynorsk' %}
          🇳🇴
          {% elif language == 'Bokmål' %}
          🇳🇴
          {% else %}
          &nbsp;<i class="fa fa-question-circle" style="color:grey"></i>
          {% endif %}
          <i>{{ urls.0.filename | truncatechars:25 }}</i>
          {% if language == 'Nynorsk' %}
          <div style="color: silver; display: inline-block;">(nynorsk)</div>
          {% endif %}
        </a>
      </div>
      <div style="display:none;">{{ urls.0.scraped_pdf.text }}</div>

        {% for alt_url in urls|slice:"1:" %}
        {% if forloop.first %}
        <br>
        <i class="fa fa-external-link"></i>
        {% endif %}

        <a href="{{ alt_url.url }}" title="{{ alt_url.filename }}" target="_blank">
            [{{ forloop.counter }}]
        </a>
        {% endfor %}

      </a>
      <br>
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endfor %}

</div>
{% endblock %}

{% block end %}
{# Prevent usage of bootstrap as it breaks PureCSS tables #}
<script src="{% static 'examiner/js/collapse.js' %}"></script>

<script>
$(document).tooltip({
  show: {
    delay: 0,
    duration: 0,
  },
  hide: {
    delay: 0,
    duration: 0,
  },
})


$( 'table' ).each(function() {
  var currentTable = $(this);
  var currentTableID = currentTable.attr('id');
  var currentSearchInputID = currentTableID.replace('table', 'search');
  currentTable.searchable({
    searchField: '#' + currentSearchInputID,
    clearOnLoad: true,
    selector: 'tbody tr:nth-child(n+2)',
    striped: true,
    oddRow: {'background-color': '#efefef'},
    evenRow: {'background-color': 'white'}
  });
});
</script>

<style>
table {
  width: 100%;
}
thead tr th:nth-child(-n + 2),
tbody tr td:nth-child(-n + 2) {
  width: 5em;
  max-width: 5em;
}
thead tr th:nth-child(n + 3),
tbody tr td:nth-child(n + 3) {
  padding-right: 5em;
}
tr {
  vertical-align: baseline;
}
th {
  text-align: left;
}
tr:nth-child(1) {
  background-color: #7a7a7a;
  color: white;
}

/* Overwrite bootstrap which changes anchor tags styling */
tr a:not(.btn) {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
tr a:visited:not(.btn) {
  color: black;
}
</style>
{% endblock %}
