{# Iterate over all the PDFs available for the category #}
{# Requires context variables: pdfs, language #}
{% for sha1, pdf in pdfs.items %}

{# First the main PDF for the category #}
{% if forloop.first %}

{# Add hidden fix button #}
<a
  type="button"
  class="btn btn-outline-success btn-sm mr-2 fix-button collapse multi-collapse"
  href="{% url 'examiner:verify_pdf' sha1 %}">
  Fiks
</a>

{# Link to the first PDF with filename #}
<a href="{{ pdf.backup_url }}" target="_blank" style="display: inline-block; height: 100%; min-width: 20rem;" class="mainLanguageLink">
  <div class="my-1 mainLanguageLink mr-2" style="display: inline-block;">
    {% if language == 'Engelsk' %}
    🇬🇧
    {% elif language == 'Nynorsk' %}
    🇳🇴
    {% elif language == 'Bokmål' %}
    🇳🇴
    {% else %}
    &nbsp;<i class="fa fa-question-circle" style="color:grey"></i>
    {% endif %}
    <i>{{ pdf.filename | truncatechars:25 }}</i>
    {% if language == 'Nynorsk' %}
    <div style="color: silver; display: inline-block;">(nynorsk)</div>
    {% endif %}
  </div>
</a>

{# Add we now add all the alternative PDFs with counters #}
{% elif forloop.counter > 1 %}

{# Open secondary link div #}
{% if forloop.counter == 2 %}
<div style="display: inline-block;">
  <i class="fa fa-external-link"></i>
{% endif %}

  <a href="{{ pdf.backup_url }}" title="{{ pdf.filename }}" target="_blank" class="badge badge-secondary" style="color: white; vertical-align: text-top;">
      {{ forloop.counter }}
  </a>

{# Close secondary link div #}
{% if forloop.last %}
</div>
{% endif %}

{% endif %}

{# Add hidden text field for this PDF, used for searching #}
<div style="display:none;">{{ pdf.text }}</div>

{% endfor %}

{# Break between languages #}
<br>
