{% load staticfiles %}
<link rel="apple-touch-icon" sizes="57x57" href="{% static "favicons/" %}apple-touch-icon-57x57.png?v=2">
<link rel="apple-touch-icon" sizes="60x60" href="{% static "favicons/" %}apple-touch-icon-60x60.png?v=2">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "favicons/" %}apple-touch-icon-72x72.png?v=2">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "favicons/" %}apple-touch-icon-76x76.png?v=2">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "favicons/" %}apple-touch-icon-114x114.png?v=2">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "favicons/" %}apple-touch-icon-120x120.png?v=2">
<link rel="apple-touch-icon" sizes="144x144" href="{% static "favicons/" %}apple-touch-icon-144x144.png?v=2">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "favicons/" %}apple-touch-icon-152x152.png?v=2">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/" %}apple-touch-icon-180x180.png?v=2">
<link rel="icon" type="image/png" href="{% static "favicons/" %}favicon-32x32.png?v=2" sizes="32x32">
<link rel="icon" type="image/png" href="{% static "favicons/" %}favicon-194x194.png?v=2" sizes="194x194">
<link rel="icon" type="image/png" href="{% static "favicons/" %}favicon-96x96.png?v=2" sizes="96x96">
<link rel="icon" type="image/png" href="{% static "favicons/" %}android-chrome-192x192.png?v=2" sizes="192x192">
<link rel="icon" type="image/png" href="{% static "favicons/" %}favicon-16x16.png?v=2" sizes="16x16">
<link rel="manifest" href="{% static "favicons/" %}manifest.json">
<link rel="shortcut icon" href="{% static "favicons/" %}favicon.ico?v=2">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="{% static "favicons/" %}mstile-144x144.png">
<meta name="msapplication-config" content="{% static "favicons/" %}browserconfig.xml">
<meta name="theme-color" content="#ffffff">
