{% load static %}
<nav>
  <div class="wrap">
    <ul>
      <li class="arkiv semestervalg"><a onclick="deleteCookie('semester')" title="Bytt standard semester" href="#"><img class="tannhjul" src="{% static "img/semestervalg_nav.svg" %}" alt="semestervalg"></a></li>
        {% for semester in semesters %}
        <li><a onclick="semesterChoice({{ semester.number }})" href="/{{ semester.study_program.program_code.lower }}/semester/{{ semester.number }}">
          {% if semester.number == semester_number %}
          <b>{{ semester.number }}. Semester</b>
          {% else %}
          {{ semester.number }}. Semester
          {% endif %}
        </a></li>
        {% endfor %}
      <li class="arkiv"><a id="arkiv" href="/arkiv/{{ semester_number }}.Semester"><img src="{% static "img/arkiv_nav.svg" %}" alt="arkiv">  Arkiv</a></li>
    </ul>
  </div>
</nav>
